*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: "League Spartan", sans-serif;
    margin: 0;
    position: relative;
    top: 0px;
}

.fondotopmobile{
    position: absolute;
    top: 0px;
    z-index: -1;
}

.fondotopdesk{
    position: absolute;
    opacity: 0;
    top: 0px;
    z-index: -1;
}

.fondobotmobile{
    position: absolute;
    opacity: 1;
    bottom: 0px;
    z-index: -1;
}

.fondobotdesk{
    position: absolute;
    opacity: 0;
    bottom: 0px;
    z-index: -1;
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 82px;
}

@media screen and (width>786px) {
    .box1{
        margin-inline: auto;
        flex-direction: row;
        width: 1110px;
        justify-content: space-between;
    }
}

.box1_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    margin-bottom: 44px;
}

@media screen and (width>786px) {
    .box1_1{
        width: 445px;
        margin-bottom: 0px;
    }
}

.title{
    font-weight: 700;
    font-size: 40px;
    color: #512051;
    line-height: 32px;
    text-align: center;
    margin-bottom: 17px;
}

@media screen and (width>786px) {
    .title{
        font-size: 56px;
        line-height: 48px;
        text-align: left;
}
}

.text{
    font-weight: 500;
    font-size: 19px;
    color: #927B91;
    line-height: 25px;
    text-align: center;
}

@media screen and (width>786px) {
    .text{
        text-align: left;
}
}

.box1_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
}

@media screen and (width>786px) {
    .box1_2{
        width: 540px;
}
}

.starsbox{
    width: 327px;
    background-color: #F7F2F7 ;
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 16px;
}

@media screen and (width>786px) {
    .starsbox{
        width: 445px;
        height: 56px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 32px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}
@media screen and (width>786px) {
    .starbox1{
        align-self: flex-start;
}
}

@media screen and (width>786px) {
    .starbox3{
        align-self: flex-end;
}
}

.stars{
    display: flex;
    flex-direction: row;
    width: 116px;
    justify-content: space-between;
    align-self: center;
}


@media screen and (width>786px) {
    .stars{
       margin-right: 32px;
    }
}

.h2bold{
    font-weight: 700;
    font-size: 17px;
    color: #512051;
}

.box2{
    margin-inline: auto;
    width: 327px;
    margin-top: 28px;
}

@media screen and (width>786px) {
    .box2{
        width: 1110px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 266px;
        margin-top: 71px;
    }
}

.card{
    width: 327px;
    background-color: #512051;
    color: #FFF;
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 16px;
}

@media screen and (width>786px) {
    .card{
        width: 350px;
        height: 234px;
        margin-bottom: 0px;
    }
}

@media screen and (width>786px) {
    .card1{
        align-self: flex-start;
    }
}

@media screen and (width>786px) {
    .card2{
        align-self: center;
    }
}
@media screen and (width>786px) {
    .card3{
        align-self: flex-end;
    }
}

.profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 23px;
}

.profilepic{
    width: 40px;
    border-radius: 50%;
    margin-right: 23px;
}

.buyer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 36px;
}

.h4bold{
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 2px;
}

.h4reg{
    font-weight: 400;
    font-size: 17px;
    color: #EE69A4;
    margin-top: 2px;
}

.review{
    margin-top: 23px;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 0px;
}


